<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="mystyle.css">
    <link rel="icon" type="image/x-icon" href="logo.png">
    <meta name="author" content="Viktor Cornelius Lindegaard Espenhain">
    <meta name="description" content="Hjemmeside til portfolier for projekter i Informatik">
    <meta name="keywords" content="RYS, Rysensteen, Informatik">
    <title>Viktor Espenhain's Portfolie - Template game</title>
  </head>

  <body>
    <h1>This is a template for a game</h1>
  </body>
</html>